### Java
# Compiled class file
*.class

# Log file
*.log
logs/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### JetBrains
.idea
.idea/
*.iml
/.settings/
/.project
/.classpath

### Eclipse
.classpath
.project
org.eclipse*

### Maven
target/
